@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

// Custom colors
$primary: #CEFA05;
$light: #A7AB94;
$secondary: #465041;
$info: #161915;
$dark: #1D211B;

// Custom font
$font-family-montserrat: 'Montserrat', sans-serif;

// Navbar custom shadow
$box-shadow-sm:     0 .125rem .25rem rgba($primary, .075);

@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";
@import "../node_modules/bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "font-family": (
      property: font-family,
      class: font,
      values: (montserrat: $font-family-montserrat)
    ),
  )
);

$custom-theme-colors: (
  "altdark": #161915,
);

$theme-colors: map-merge($theme-colors, $custom-theme-colors);

section::before {
  // OFFSETTING because of navbar
  height: 56px;
  content: "";
  display:block;
}

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";